<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysy.thinkfuture">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".application.AppApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".core.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".core.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".core.activity.SecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".core.activity.ThirdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".core.activity.SingleTypeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".core.activity.MultiTypeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".core.activity.TestListViewActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>